<p>show-product-api works!</p>

<b>_id:</b>  {{productDetails._id}} <br>
<b>Name:</b>   {{productDetails.name}} <br>
<b>Price:</b>   {{productDetails.price}} <br>
<b>Brand:</b>   {{productDetails.brand}} <br>
<b>Model:</b>   {{productDetails.model}} <br>
<b>Color:</b>   {{productDetails.color}} <br>
<b>Quantity:</b>   {{productDetails.quantity}} <br>
<b>Weight:</b>   {{productDetails.weight}} <br>
<b>imgUrl:</b>   {{productDetails.imgUrl}} <br>

<img src='http://localhost:5000/uploads/{{productDetails.imgUrl}}' 
alt="no image" style="width: 100px;height:100px" />

